.video-commercial {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  cursor: pointer;
}

.entry-link {
  position: fixed;
  font-size: 3rem;
  bottom: 5%;
  left: 5%;
  color: #fff;
  /* animation: slide-in 400ms ease-out forwards; */
}

/* @keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */
