.video-commercial {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  cursor: pointer;
}

.entry-link {
  position: fixed;
  text-decoration: underline;
  font-size: 3rem;
  bottom: 5%;
  left: 5%;
}

.entry-link a {
  color: #fff;
}
