.container {
  height: 20rem;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-container-wrapper {
  height: 18rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  background-color: #fff;
  padding: 1rem;
}

.form-container input:focus,
.form-container input:active,
.form-container input:hover {
  outline: 0.125rem solid #000;
}

.emailadress {
  height: 2.5rem;
  font-size: 1rem;
  text-align: center;
  border: 0.02rem solid #d0d1d3;
}
.newsletter-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.button {
  background-color: black;
  color: #fff;
  font-size: 1rem;
  height: 2.5rem;
  outline: none;
  border: none;
  margin-top: 0.5rem;
}

.button span {
  vertical-align: middle;
}

.button:hover {
  opacity: 0.8;
}

@media (min-width: 40rem) {
  .emailadress {
    width: 20rem;
  }
  .button {
    width: 20rem;
    margin-top: 0;
  }
  .container {
    flex-direction: row;
    align-items: center;
  }

  .form-container-wrapper {
    margin-bottom: -2rem;
  }
}
